{% extends "layout.html" %}
{% block content %}
<div class="register_container">
    {% from "_formhelpers.html" import render_field %}
    <h3>{{ current_user.name }} {{ current_user.father_name }}: {{ current_user.user_type }}</h3>
    {% if current_user.user_type == 'Parent' %}
        <h4>Update Account</h4>
        <form method=post>
            <dl>
                {{ render_field(update_form.name) }}
                {{ render_field(update_form.father_name) }}
                {{ render_field(update_form.grand_father_name) }}
                {{ render_field(update_form.email) }}
                {{ render_field(update_form.phone_number) }}
                {{ render_field(update_form.user_type) }}
            </dl>
            <input type=submit value=Update>
        </form>
        <h4 style="font-size: 16pt; margin: 0;">students</h4>
            {% if student %}
                {% from "_tablemaker.html" import render_table %}
                {{ render_table(student) }}
            {% else %}
                <h4>No Student Registered</h4>
            {% endif %}
        <a href="{{ url_for('register_Student') }}"><h4>Register Student</h4></a>
    {% else %}
        <form method=post>
        <dl>
            {{ render_field(update_form.name) }}
            {{ render_field(update_form.father_name) }}
            {{ render_field(update_form.grand_father_name) }}
            {{ render_field(update_form.email) }}
            {{ render_field(update_form.phone_number) }}
            {{ render_field(update_form.user_type) }}
        </dl>
        <p><input type=submit value=Update>
        </form>
    {% endif %}

</div>
{% endblock content %}